.holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.holder > .item {
    flex: 1 1 30%;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
    border: 1px solid #ccc;
}
